* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#directory {
  padding: 1em;
}
.link-list-container {
  display: flex;
  flex-direction: row;
}
#wan-links {
  margin-right: 80px;
}
h2, h3 {
  margin: 0
}
h2 {
  font-size: 1em;
  color: grey;
}
h3 {
  font-size: 1.3em;
}
span {
  color: grey;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  padding: .7em;
  border: 1px solid lightgrey;
  border-radius: 5px;
  display: inline-block;
  margin: .5em 0;
  background: #f5f5f5;
  color: black;
  text-decoration: none;
  transition: all .2s;
  box-shadow: none;
}
h3:after {
  content: "\279C";
  margin-left: 3px;
  transform: translate(0px);
  display: inline-block;
  transition: all .2s;
}
a:hover {
  border-color: grey;
  box-shadow: 2px 2px grey;
}
a:hover h3 {
  text-decoration: underline;
}
a:hover h3:after {
  text-decoration: none !important;
  transform: translate(3px)
}

@media screen and (max-width: 500px) {
  .link-list-container {
    flex-direction: column;
  }
}
.hidden-on-wan {
  display: none;
}